#application-list article {
    box-shadow: 2px 2px 10px gray;
    padding: 20px;
    transition: box-shadow 0.3s;
}

#application-list article:hover,
#application-list .selected article {
    box-shadow: 7px 7px 20px black;
}
#controls {
    display: none;
}

.awaiting {
    background: radial-gradient(circle at top right,#ffff0080 40%,#ffffff 47%);

}
.accepted {
    background: radial-gradient(circle at top right,#00ff0d6f 40%,#ffffff 47%);
}
.refused {
    background: radial-gradient(circle at top right,#ff000068 40%,#ffffff 47%);
}
